{% extends "admin/layout.html" %}
{% load static %}
{% block title %}Site Setting Management{% endblock  %}
{% block style %}
<link rel="stylesheet" href="{% static 'dashboard/libs/dropify/css/dropify.css' %}">
{% endblock  %}
{% block content %}
<div class="container-fluid">
    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4 py-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-8">Site Setting Management</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-muted " href="">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                Site Setting Management
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link d-flex active" data-bs-toggle="tab" href="#home2" role="tab"
                            aria-selected="true">
                            <span><i class="ti ti-home-2 fs-4"></i>
                            </span>
                            <span class="d-none d-md-block ms-2">Website Information</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link d-flex" data-bs-toggle="tab" href="#profile2" role="tab"
                            aria-selected="false" tabindex="-1">
                            <span><i class="ti ti-seo fs-4"></i>
                            </span>
                            <span class="d-none d-md-block ms-2">Meta/OG Information</span>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active show" id="home2" role="tabpanel">
                        <div class="p-3">
                            <form action="{% url 'admin:siteSetting.update' %}" method="POST"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="method" value="PUT" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fa fa-image"></i>&nbsp;Site Logo</span>
                                            <input type="file" class="dropify @error('logo') is-invalid @enderror"
                                                name="logo"
                                                data-default-file=""
                                                {% comment %} data-max-width="314"
                                                data-max-height="230" {% endcomment %}
                                                data-show-remove="false"
                                                data-allowed-file-extensions="jpeg png jpg">
                                            <span class="alert alert-warning w-100"><i class="fa fa-info"></i>&nbsp;
                                                Recommended Size: 314 X 230 px</span>
                                            {% comment %} @error('logo')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fa fa-image"></i>&nbsp;Favicon</span>
                                            <input type="file" class="dropify @error('favicon') is-invalid @enderror"
                                                name="favicon"
                                                data-default-file=""
                                                data-show-remove="false"
                                                {% comment %} data-max-width="32"
                                                data-max-height="32" {% endcomment %}
                                                data-allowed-file-extensions="jpeg png jpg">
                                            <span class="alert alert-warning w-100"><i class="fa fa-info"></i>&nbsp;
                                                Recommended Size: 32 X 32 px</span>
                                            {% comment %} @error('favicon')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-apple"></i>&nbsp;Apple_touch</span>
                                            <input type="file"
                                                class="dropify @error('apple_touch') is-invalid @enderror"
                                                name="apple_touch"
                                                data-default-file=""
                                                data-show-remove="false"
                                                {% comment %} data-min-width="180"
                                                data-min-height="180" {% endcomment %}
                                                data-allowed-file-extensions="jpeg png jpg">
                                            <span class="alert alert-warning w-100"><i class="fa fa-info"></i>&nbsp;
                                                Recommended Size: 180 X 180 px</span>
                                            {% comment %} @error('apple_touch')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fa fa-globe"></i>&nbsp;Site Name</span>
                                            <input type="text"
                                                class="form-control @error('site_name') is-invalid @enderror"
                                                placeholder="Enter Site Title" aria-label="Enter Site Title"
                                                aria-describedby="basic-addon1" name="site_name"
                                                value="{{ setting.site_name }}">
                                            {% comment %} @error('site_name')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-at"></i>&nbsp;Site Email</span>
                                            <input type="text"
                                                class="form-control @error('site_email') is-invalid @enderror"
                                                placeholder="Enter Site Email" aria-label="Enter Site Email"
                                                aria-describedby="basic-addon1" name="site_email"
                                                value="{{ setting.site_email }}" required>
                                            {% comment %} @error('site_email')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-phone"></i>&nbsp;Phone No.</span>
                                            <input type="text"
                                                class="form-control @error('phone_no') is-invalid @enderror"
                                                placeholder="Enter Phone No." aria-label="Enter Phone No."
                                                aria-describedby="basic-addon1" name="phone_no"
                                                value="{{ setting.phone_number }}" required>
                                            {% comment %} @error('phone_no')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-phone"></i>&nbsp;Mobile No.</span>
                                            <input type="text"
                                                class="form-control @error('whatsApp_no') is-invalid @enderror"
                                                placeholder="Enter Phone No." aria-label="Enter Phone No."
                                                aria-describedby="basic-addon1" name="mobile_no"
                                                value="{{ setting.mobile_number }}" required>
                                            {% comment %} @error('mobile_no')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-whatsapp"></i>&nbsp;WhatsApp No.</span>
                                            <input type="text"
                                                class="form-control @error('whatsApp_no') is-invalid @enderror"
                                                placeholder="98xxxxxxxx" aria-label="Enter WhatsApp No."
                                                aria-describedby="basic-addon1" name="whatsApp_no"
                                                value="{{ setting.whatsApp_number }}" required>
                                            {% comment %} @error('whatsApp_no')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="col-md-6"></div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-facebook"></i>&nbsp;Facebook Url</span>
                                            <input type="text"
                                                class="form-control @error('facebook_url') is-invalid @enderror"
                                                placeholder="Enter Facebook URL" aria-label="Enter Facebook URL"
                                                aria-describedby="basic-addon1" name="facebook_url"
                                                value="{{ setting.facebook_url }}" required>
                                            {% comment %} @error('facebook_url')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-youtube"></i>&nbsp;Youtube URL</span>
                                            <input type="text"
                                                class="form-control @error('youtube_url') is-invalid @enderror"
                                                placeholder="Enter Youtube URL" aria-label="Enter Youtube URL"
                                                aria-describedby="basic-addon1" name="youtube_url"
                                                value="{{ setting.youtube_url }}" required>
                                            {% comment %} @error('youtube_url')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-linkedin"></i>&nbsp;Linked In URL</span>
                                            <input type="text"
                                                class="form-control @error('linkedIn_url') is-invalid @enderror"
                                                placeholder="Enter LinkedIn URL" aria-label="Enter LinkedIn URL"
                                                aria-describedby="basic-addon1" name="linkedIn_url"
                                                value="{{ setting.linkedIn_url }}" required>
                                            {% comment %} @error('linkedIn_url')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-twitter"></i>&nbsp;Twitter URL</span>
                                            <input type="text"
                                                class="form-control @error('twitter_url') is-invalid @enderror"
                                                placeholder="Enter twitter URL" aria-label="Enter twitter URL"
                                                aria-describedby="basic-addon1" name="twitter_url"
                                                value="{{ setting.twitter_url }}" required>
                                            {% comment %} @error('twitter_url')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-instagram"></i>&nbsp;Instagram URL</span>
                                            <input type="text"
                                                class="form-control @error('instagram_url') is-invalid @enderror"
                                                placeholder="Enter Instagram URL" aria-label="Enter Instagram URL"
                                                aria-describedby="basic-addon1" name="instagram_url"
                                                value="{{ setting.instagram_url }}" required>
                                            {% comment %} @error('instagram_url')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>

                                    <div class="col-6"></div>

                                    <div class="col-md-12">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-map-pin"></i>&nbsp;Address</span>
                                            <textarea name="address" class="form-control @error('address') is-invalid @enderror" cols="30" rows="4">{{ setting.address }}</textarea>
                                            {% comment %} @error('address')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-map-pin"></i>&nbsp;Google Map URL</span>
                                            <textarea name="google_map_url" class="form-control @error('google_map_url') is-invalid @enderror" cols="30"
                                                rows="4">{{ setting.google_map_url }}</textarea>
                                            {% comment %} @error('google_map_url')
                                                <div class="invalid-feedback">
                                                    {{ $message }}
                                                </div>
                                            @enderror {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-foot">
                                    <div class="col-md-12">
                                        <a href="" class="btn btn-danger"><i
                                                class="fa fa-times"></i>&nbsp;Cancel</a>
                                        <button class="btn btn-success" style="float:right;"><i
                                                class="fa fa-check"></i>&nbsp;Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane p-3" id="profile2" role="tabpanel">
                        <div class="p-3">
                            <div class="row">
                                <form action="" method="POST"
                                    enctype="multipart/form-data">
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1"><i
                                                        class="fa fa-text-width"></i>&nbsp;Meta OG Title</span>
                                                <input type="text"
                                                    class="form-control @error('meta_og_title') is-invalid @enderror"
                                                    name="meta_og_title" placeholder="Enter Meta And OG Title"
                                                    value="{{ setting.phone_number }}">
                                                {% comment %} @error('meta_og_title')
                                                    <div class="invalid-feedback">
                                                        
                                                    </div>
                                                @enderror {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1"><i
                                                        class="fa fa-text-width"></i>&nbsp;Meta Keywords</span>
                                                <textarea name="meta_keywords" class="form-control @error('meta_keywords') is-invalid @enderror" cols="30"
                                                    rows="4"></textarea>
                                                {% comment %} @error('meta_keywords')
                                                    <div class="invalid-feedback">
                                                        {{ $message }}
                                                    </div>
                                                @enderror {% endcomment %}
                                                <span class="alert alert-warning w-100"><i
                                                    class="fa fa-info"></i>&nbsp;Maximum keywords allowed: 10</span>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1"><i
                                                            class="fa fa-text-width"></i>&nbsp;Meta OG
                                                        Description</span>
                                                    <textarea name="meta_og_description" class="form-control @error('meta_og_description') is-invalid @enderror"
                                                        cols="30" rows="4"></textarea>
                                                    {% comment %} @error('meta_og_description')
                                                        <div class="invalid-feedback">
                                                            {{ $message }}
                                                        </div>
                                                    @enderror {% endcomment %}
                                                    <span class="alert alert-warning w-100"><i
                                                            class="fa fa-info"></i>&nbsp;Characters must be between 155
                                                        - 160</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1"><i
                                                            class="fa fa-image"></i>&nbsp;OG Image</span>
                                                    <input type="file"
                                                        class="dropify @error('og_image') is-invalid @enderror"
                                                        name="og_image"
                                                        data-default-file=""
                                                        data-show-remove="false">
                                                    {% comment %} @error('og_image')
                                                        <div class="invalid-feedback">
                                                            {{ $message }}
                                                        </div>
                                                    @enderror {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer py-4">
                                            <a href="" class="btn btn-danger"><i
                                                    class="fa fa-times"></i>&nbsp;Cancel</a>
                                            <button class="btn btn-success" style="float: right;"><i
                                                    class="fa fa-check"></i>&nbsp;Update</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block script %}
    <script src="{% static 'dashboard/libs/dropify/js/dropify.min.js' %}"></script>
    <script>
        $('.dropify').dropify();
    </script>
{% endblock  %}