

{% extends "admin/layout.html" %}
{% load static %}
{% block title %}Site Setting Management{% endblock  %}
{% block style %}
<link rel="stylesheet" href="{% static 'dashboard/libs/dropify/css/dropify.css' %}">
{% endblock  %}
{% block content %}
<div class="container-fluid">
    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4 py-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-8">Site Setting Management</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-muted " href="">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                Site Setting Management
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link d-flex active" data-bs-toggle="tab" href="#home2" role="tab"
                            aria-selected="true">
                            <span><i class="ti ti-home-2 fs-4"></i>
                            </span>
                            <span class="d-none d-md-block ms-2">Website Information</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link d-flex" data-bs-toggle="tab" href="#profile2" role="tab"
                            aria-selected="false" tabindex="-1">
                            <span><i class="ti ti-seo fs-4"></i>
                            </span>
                            <span class="d-none d-md-block ms-2">Meta/OG Information</span>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active show" id="home2" role="tabpanel">
                        <div class="p-3">
                            <form action="{% url 'admin:siteSetting.update' %}" method="POST"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fa fa-image"></i>&nbsp;Site Logo</span>
                                            <input type="file" class="dropify {% if data.logo.errors %}is-invalid{% endif %}"
                                                name="logo"
                                                data-default-file="{{ data.logo.value.url }}"
                                                {% comment %} data-max-width="314"
                                                data-max-height="230" {% endcomment %}
                                                data-show-remove="false"
                                                data-allowed-file-extensions="jpeg png jpg">
                                            <span class="alert alert-warning w-100"><i class="fa fa-info"></i>&nbsp;
                                                Recommended Size: 314 X 230 px</span>
                                            {% if data.logo.errors %}
                                                <div class="invalid-feedback">
                                                    {{ data.logo.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fa fa-image"></i>&nbsp;Favicon</span>
                                            <input type="file" class="dropify {% if data.favicon.errors %}is-invalid{% endif %}"
                                                name="favicon"
                                                data-default-file="{{ data.favicon.value.url }}"
                                                data-show-remove="false"
                                                {% comment %} data-max-width="32"
                                                data-max-height="32" {% endcomment %}
                                                data-allowed-file-extensions="jpeg png jpg">
                                            <span class="alert alert-warning w-100"><i class="fa fa-info"></i>&nbsp;
                                                Recommended Size: 32 X 32 px</span>
                                            {% if data.favicon.errors %}
                                                <div class="invalid-feedback">
                                                    {{ data.favicon.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-apple"></i>&nbsp;Apple_touch</span>
                                            <input type="file"
                                                class="dropify {% if data.apple_touch.errors %}is-invalid{% endif %}"
                                                name="apple_touch"
                                                data-default-file="{{ data.apple_touch.value.url }}"
                                                data-show-remove="false"
                                                {% comment %} data-min-width="180"
                                                data-min-height="180" {% endcomment %}
                                                data-allowed-file-extensions="jpeg png jpg">
                                            <span class="alert alert-warning w-100"><i class="fa fa-info"></i>&nbsp;
                                                Recommended Size: 180 X 180 px</span>
                                            {% if data.apple_touch.errors %}
                                                <div class="invalid-feedback">
                                                    {{ data.apple_touch.errors }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fa fa-globe"></i>&nbsp;Site Name</span>
                                            <input type="text"
                                                class="form-control {% if data.site_name.errors %} is-invalid{% endif %}"
                                                placeholder="Enter Site Title" aria-label="Enter Site Title"
                                                aria-describedby="basic-addon1" name="site_name"
                                                value="{{ data.site_name.value }}">
                                            {% if data.site_name.errors %}
                                                <div class="invalid-feedback">
                                                   {{ data.site_name.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-at"></i>&nbsp;Site Email</span>
                                            <input type="text"
                                                class="form-control {% if data.site_email.errors %}is-invalid{% endif %}"
                                                placeholder="Enter Site Email" aria-label="Enter Site Email"
                                                aria-describedby="basic-addon1" name="site_email"
                                                value="{{ data.site_email.value }}" required>
                                            {% if data.site_email.errors %}
                                            <div class="invalid-feedback">
                                                   {{ data.site_email.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-phone"></i>&nbsp;Phone No.</span>
                                            <input type="text"
                                                class="form-control {% if data.phone_number.errors %}is-invalid{% endif %}"
                                                placeholder="Enter Phone No." aria-label="Enter Phone No."
                                                aria-describedby="basic-addon1" name="phone_number"
                                                value="{{ data.phone_number.value }}" 
                                                >
                                            {% if data.phone_number.errors %}
                                                <div class="invalid-feedback">
                                                   {{ data.phone_number.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-phone"></i>&nbsp;Mobile No.</span>
                                            <input type="text"
                                                class="form-control {% if data.mobile_number.errors %}is-invalid{% endif %}"
                                                placeholder="Enter Phone No." aria-label="Enter Phone No."
                                                aria-describedby="basic-addon1" name="mobile_number"
                                                value="{{ data.mobile_number.value }}" required>
                                            {% if data.mobile_number.errors %}
                                                <div class="invalid-feedback">
                                                   {{ data.mobile_number.errors|striptags }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-whatsapp"></i>&nbsp;WhatsApp No.</span>
                                            <input type="text"
                                                class="form-control {% if data.whatsApp_number.errors %}is-invalid{% endif %}"
                                                placeholder="98xxxxxxxx" aria-label="Enter WhatsApp No."
                                                aria-describedby="basic-addon1" name="whatsApp_number"
                                                value="{{ data.whatsApp_number.value }}" required>
                                            {% if data.whatsApp_number.errors %}
                                                <div class="invalid-feedback">
                                                   {{ data.whatsApp_number.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6"></div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-facebook"></i>&nbsp;Facebook Url</span>
                                            <input type="text"
                                                class="form-control {% if data.facebook_url.errors %}is-invalid{% endif %}"
                                                placeholder="Enter Facebook URL" aria-label="Enter Facebook URL"
                                                aria-describedby="basic-addon1" name="facebook_url"
                                                value="{{ data.facebook_url.value }}" required>
                                            {% if data.facebook_url.errors %}
                                                <div class="invalid-feedback">
                                                   {{ data.facebook_url.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-youtube"></i>&nbsp;Youtube URL</span>
                                            <input type="text"
                                                class="form-control {% if data.youtube_url.errors %}e_url') is-invalid{% endif %}"
                                                placeholder="Enter Youtube URL" aria-label="Enter Youtube URL"
                                                aria-describedby="basic-addon1" name="youtube_url"
                                                value="{{ data.youtube_url.value }}" required>
                                            {% if data.youtube_url.errors %}
                                                <div class="invalid-feedback">
                                                   {{ data.youtube_url.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-linkedin"></i>&nbsp;Linked In URL</span>
                                            <input type="text"
                                                class="form-control {% if data.linkedIn_url.errors %} is-invalid{% endif %}"
                                                placeholder="Enter LinkedIn URL" aria-label="Enter LinkedIn URL"
                                                aria-describedby="basic-addon1" name="linkedIn_url"
                                                value="{{ data.linkedIn_url.value }}" required>
                                            {% if data.linkedIn_url.errors %}
                                                <div class="invalid-feedback">
                                                   {{ data.value.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-twitter"></i>&nbsp;Twitter URL</span>
                                            <input type="text"
                                                class="form-control {% if data.twitter_url.errors %} is-invalid{% endif %}"
                                                placeholder="Enter twitter URL" aria-label="Enter twitter URL"
                                                aria-describedby="basic-addon1" name="twitter_url"
                                                value="{{ data.twitter_url.value }}" required>
                                            {% if data.twitter_url.errors %}
                                                <div class="invalid-feedback">
                                                   {{ data.twitter_url.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-brand-instagram"></i>&nbsp;Instagram URL</span>
                                            <input type="text"
                                                class="form-control {% if data.instagram_url.errors %} is-invalid{% endif %}"
                                                placeholder="Enter Instagram URL" aria-label="Enter Instagram URL"
                                                aria-describedby="basic-addon1" name="instagram_url"
                                                value="{{ data.instagram_url.value }}" required>
                                            {% if data.instagram_url.errors %}
                                                <div class="invalid-feedback">
                                                   {{ data.instagram_url.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-6"></div>

                                    <div class="col-md-12">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-map-pin"></i>&nbsp;Address</span>
                                            <textarea 
                                                name="address" 
                                                class="form-control 
                                                {% if data.address.errors %}is-invalid{% endif %}" 
                                                cols="30" rows="4">{{ data.address.value }}</textarea>
                                            {% if data.address.errors %}
                                                <div class="invalid-feedback">
                                                   {{ data.address.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="ti ti-map-pin"></i>&nbsp;Google Map URL</span>
                                            <textarea name="google_map_url" class="form-control {% if data.google_map_url.errors %}is-invalid{% endif %}" cols="30"
                                                rows="4">{{ data.google_map_url.value }}</textarea>
                                            {% if data.google_map_url.errors %}
                                                <div class="invalid-feedback">
                                                   {{ data.google_map_url.errors|striptags }}
                                                </div>
                                           {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-foot">
                                    <div class="col-md-12">
                                        <a href="" class="btn btn-danger"><i
                                                class="fa fa-times"></i>&nbsp;Cancel</a>
                                        <button class="btn btn-success" style="float:right;"><i
                                                class="fa fa-check"></i>&nbsp;Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane p-3" id="profile2" role="tabpanel">
                        <div class="p-3">
                            <div class="row">
                                <form action="" method="POST"
                                    enctype="multipart/form-data">
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1"><i
                                                        class="fa fa-text-width"></i>&nbsp;Meta OG Title</span>
                                                <input type="text"
                                                    class="form-control {% if data.logo.errors %}g_title') is-invalid{% endif %}"
                                                    name="meta_og_title" placeholder="Enter Meta And OG Title"
                                                    value="{{ setting.phone_number }}">
                                                {% comment %} {% if data.logo.errors %}g_title')
                                                    <div class="invalid-feedback">
                                                        
                                                    </div>
                                               {% endif %} {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1"><i
                                                        class="fa fa-text-width"></i>&nbsp;Meta Keywords</span>
                                                <textarea name="meta_keywords" class="form-control {% if data.logo.errors %}eywords') is-invalid{% endif %}" cols="30"
                                                    rows="4"></textarea>
                                                {% comment %} {% if data.logo.errors %}eywords')
                                                    <div class="invalid-feedback">
                                                       {{ data.value.errors|striptags }}
                                                    </div>
                                               {% endif %} {% endcomment %}
                                                <span class="alert alert-warning w-100"><i
                                                    class="fa fa-info"></i>&nbsp;Maximum keywords allowed: 10</span>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1"><i
                                                            class="fa fa-text-width"></i>&nbsp;Meta OG
                                                        Description</span>
                                                    <textarea name="meta_og_description" class="form-control {% if data.logo.errors %}g_description') is-invalid{% endif %}"
                                                        cols="30" rows="4"></textarea>
                                                    {% comment %} {% if data.logo.errors %}g_description')
                                                        <div class="invalid-feedback">
                                                           {{ data.value.errors|striptags }}
                                                        </div>
                                                   {% endif %} {% endcomment %}
                                                    <span class="alert alert-warning w-100"><i
                                                            class="fa fa-info"></i>&nbsp;Characters must be between 155
                                                        - 160</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1"><i
                                                            class="fa fa-image"></i>&nbsp;OG Image</span>
                                                    <input type="file"
                                                        class="dropify {% if data.logo.errors %}ge') is-invalid{% endif %}"
                                                        name="og_image"
                                                        data-default-file=""
                                                        data-show-remove="false">
                                                    {% comment %} {% if data.logo.errors %}ge')
                                                        <div class="invalid-feedback">
                                                           {{ data.value.errors|striptags }}
                                                        </div>
                                                   {% endif %} {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer py-4">
                                            <a href="" class="btn btn-danger"><i
                                                    class="fa fa-times"></i>&nbsp;Cancel</a>
                                            <button class="btn btn-success" style="float: right;"><i
                                                    class="fa fa-check"></i>&nbsp;Update</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block script %}
    <script src="{% static 'dashboard/libs/dropify/js/dropify.min.js' %}"></script>
    <script>
        $('.dropify').dropify();
    </script>
{% endblock  %}