{% extends "admin-dashboard/layout/layout.html" %} {% load static %} 
{% block main %}
<!--  Body Wrapper -->
<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>
  <div
    class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center"
  >
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">
              <a
                href="{% url 'welcome' %}"
                class="text-nowrap logo-img text-center d-block mb-5 w-100"
              >
                <img
                  src="{% static 'dashboard/images/logos/dark-logo.svg'%}"
                  width="180"
                  alt=""
                />
              </a>
              <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label"
                    >Username</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    aria-describedby="username"
                    name="username"
                  />
                </div>
                <div class="mb-4">
                  <label for="exampleInputPassword1" class="form-label"
                    >Password</label
                  >
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    id="exampleInputPassword1"
                  />
                </div>
                {% comment %}
                <div
                  class="d-flex align-items-center justify-content-between mb-4"
                >
                  <div class="form-check">
                    <input
                      class="form-check-input primary"
                      type="checkbox"
                      value=""
                      id="flexCheckChecked"
                      checked
                    />
                    <label
                      class="form-check-label text-dark"
                      for="flexCheckChecked"
                    >
                      Remeber this Device
                    </label>
                  </div>
                  <a
                    class="text-primary fw-medium"
                    href="./authentication-forgot-password.html"
                    >Forgot Password ?</a
                  >
                </div>
                {% endcomment %}
                <button class="btn btn-primary w-100 py-8 mb-4 rounded-2">
                  Sign In
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
